img{
width:200px;
height:200px;
}
.logo{
    float:left;
    width: 150%;
    margin: 0px auto;
    background-color: #09a39b;
}
header {
    width: 90%;
    margin: 0 auto;
}
header div {
    float: left;
}
header div img {
    max-height: 200px ;
    max-width: 200px;
}
header p {
    float: left;
    font-size: 1.5vw;
    padding: 50px;
    text-transform: uppercase;
    font-weight: bold;
    color: darkblue;
    text-shadow: 3px 3px 3px yellow;
    animation: doimauchu 1s ease infinite;
}
@keyframes doimauchu {
    to {color: black;}
    from {color: red;}
}
body font{
    
    text-transform: uppercase;
    font-weight: bold;
    color: darkblue;
    animation: thembululqua 3s ease infinite;
}
@keyframes thembululqua {
    to{color : black;}
    from{color: yellow}
}

html, body{
    height: 100%;
  }
  body{
    display: grid;
    background: linear-gradient(to bottom, #a239ed, #fa6aa4);
  }

  footer{
    background: tomato;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  ul {
    list-style: none;
}
a {
    text-decoration: none;
}
nav {
    clear: both;
    background-color: rgb(0, 255, 179);
}
nav ul {
    display: flex;
}
nav ul li a {
    width: auto;
    height:auto;
    display: block;
    padding: 20px 30px;
    text-transform: uppercase;
    font-weight: bold;
    min-width: 120px;
    text-align: center;
    border: 0.5px solid blue;
}
nav ul li:nth-child(5) a {
    border-right: none;
}
nav ul li:nth-child(4) {
    margin-left: auto;
}
nav ul li a:hover {
    background-color: rgb(15, 15, 15);
    color: white;
}
footer{
    background: tomato;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
